@{
    ViewBag.Title = "Joel Hilton Welcome Page";
}

    <!--index with minimal stuff-->
    <div class="yessir">
        <h1>The Joel Hilton Film Collection</h1>
        <br />
        <a href="https://www.facebook.com/joelrhilton"><img src="~/JoelHilton.jpg" /></a>


    </div>




 